.Navbar {
    background-color: #da5e04;
    color: #ffffff;
}

.logo {
    width: 150px;
    height: 40px;
}

.menu-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

span {
    color: greenyellow;
}
