* {
    font-family: "Roboto", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: rgba(238, 115, 15, 0.89) !important;
    color: white !important;
    border: none !important;
}
button:hover {
    background-color: rgba(216, 120, 41, 0.89) !important;
}

.btn-menu {
    background-color: rgba(238, 115, 15, 0.89) !important;
}

.input-comment {
    padding-top: 35px;
    padding-bottom: 35px;
}
