* {
  font-family: "Roboto", sans-serif;
}

h5 {
  font-size: 17px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}

a {
  color: rgb(65, 64, 64);
  text-decoration: none;
  font-size: 1rem;
  font-style: italic;
}
a:hover {
  color: #e08701fd;
}

.input-comment {
  padding-top: 35px;
  padding-bottom: 35px;
}
